* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w {
    width: 1190px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #F4F4F4;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?c9558p');
    src:  url('../fonts/icomoon.eot?c9558p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c9558p') format('truetype'),
    url('../fonts/icomoon.woff?c9558p') format('woff'),
    url('../fonts/icomoon.svg?c9558p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.promotional-top {
    height: 80px;
    display: block;
    background: rgb(70, 201, 255);
}

.jd-container {
    background-image: url("https://img13.360buyimg.com/da/jfs/t1/82793/22/10537/67633/5d80b555Eafd4d931/55d4cdd36e4db6a5.jpg.webp");
    height: 80px;
    position: relative;
}

.jd-close-button {
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #2d2d2d;
    text-align: center;
    opacity: .3;
}

.content {
    height: 1000px;
    background-color: pink;
}

#shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

#shortcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 12px;
}

#shortcut li {
    float: left;
}

#shortcut .cw-icon {
    height: 28px;
    line-height: 28px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    z-index: 1;
    border: 1px solid #e3e4e5;
    display: inline-block;
    color: #999;
}

.cw-icon::before {
    content: "\e947";
    font-family: 'icomoon';
    font-size: 14px;
    color: #f10215;
    margin: 0 4px 2px 0;
}

#header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

#header .w {
    height: 140px;
    z-index: 11;
    position: relative;
}

.logo {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 10px;
    width: 190px;
    height: 120px;
    background-color: #fff;
}

.logo-tit-lk {
    background: url("../images/sprite.png") no-repeat 0 0;
    display: block;
    width: 190px;
    height: 120px;
    font-size: 0;
    overflow: hidden;
    text-indent: -999px;
}

.jd-mi {
    width: 632px;
    height: 340px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.c_anim {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.c_anim img {
    width: 200px;
    height: 200px;
    transition: all .3s;
}
.c_anim:hover img {
    transform: scale(1.05);
}

.trans {
    width: 200px;
    height: 200px;
    transform: skew(45deg);
    background-color: #fff;
}

.jd-mi:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 20px solid rgba(255, 255,255, 0.3);
    box-sizing: border-box;
}

.footer {
    height: 538px;
}

.mod-service {
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}

.mod_service_item {
    width: 297px;
    height: 42px;
    float: left;
}

.mod-service ul {
    overflow: hidden;
}

.service-unit {
    position: relative;
    padding-left: 45px;
    margin: 0 auto;
    width: 180px;
}

.mod_service_tit {
    position: absolute;
    overflow: hidden;
    text-indent: -999px;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background: url("../images/mod-footer.png") no-repeat;
}

.mod_service_duo {
    background-position: 0 -192px;
}

.mod_service_kuai {
    background-position: -41px -192px;
}

.mod_service_hao {
    background-position: -82px -192px;
}

.mod_service_sheng {
    background-position: -123px -192px;
}

.service-unit p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    color: #444;
}

.mod-help {
    padding: 20px 0;
    overflow: hidden;
}

.mod-help dl {
    width: 198px;
    float: left;
}

.mod-help dt {
    font-size: 14px;
    height: 22px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 10px;
}

.mod-help dd {
    font-size: 12px;
    line-height: 20px;
}

.mod-help a {
    color: #666;
}

.mod-help a:hover {
    color: #f10215;
}

.mod-help .help-last {
    float: right;
    width: 200px;
    height: 150px;
    background: url(../images/mod-footer.png) no-repeat 0 0;
}

.help-last-cover {
    text-align: center;
}

.mod-help .help-cover-tit {
    color: #666;
    font-size: 12px;
}

.help-last dd {
    padding: 0 10px;
}

.help-cover-info {
    text-align: right;
}

.mod-copyright-inner {
    padding: 15px 0;
    border-top: 1px solid #dedede;
    text-align: center;
}

.mod-copyright-inner {
    font-size: 12px;
}

.mod_copyright_info {
    padding: 10px 0;
}

.mod-copyright-inner p {
    line-height: 22px;
    color: #999;
}

.mod-copyright-inner a {
    color: #666;
}

.mod-copyright-inner span {
    color: #ccc;
}

.mod-copyright-inner a:hover {
    color: #f10215;
}

.mod_copyright_auth {
    margin: 25px 0;
}

.mod_copyright_auth a {
    display: inline-block;
    width: 103px;
    height: 32px;
    margin: 0 3px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/mod-footer.png) no-repeat -205px -111px;
}

.mod_copyright_auth .mod_copyright_auth_ico_2 {
    background-position: -205px -74px;
}

.mod_copyright_auth .mod_copyright_auth_ico_3 {
    background-position: -205px -37px;
}

.mod_copyright_auth .mod_copyright_auth_ico_4 {
    background-position: -205px -0px;
}

.mod_copyright_auth .mod_copyright_auth_ico_5 {
    background-position: 0 -155px;
}